{% load static %}

<link rel="stylesheet" href="{% static 'bucketlist/main.css' %}" type="text/css">

<html>
  <head>
    <meta charset="utf-8">
    <title>
      Travel bucketlist
    </title>
  </head>

  <body>

    <div class = "header">
      <h1> Travel Bucket-List </h1>
      <div class="topnav">
        <a class="active" href="/bucketlist/">Home</a>
        <a class="active" href="/bucketlist/contact_us/">Contact-Us</a>
        <a class="active" href="#home">Plan</a>
        <a class="active" href="#home">Featured</a>
      </div>
    </div>

    {% block content %}

    {% endblock %}
  </body>
</html>
