{% extends "layout.html" %}
{% block content %}

{% if post %}
<div class="jumbotron jumbotron-fluid ml-2">
  <h1 class="dsiplay-4 ml-2"> {{ author }} </h1>
  <img class="rounded-circle account-img" src="{{ author.profile_pic.url }}">
</div>

<div>
    {% for post in post %}
        <a href="/bucketlist/{{post.c_name.pk}}/{{post.pk}}"> <h3 class="ml-2"> {{ post.title }} </h3> </a>
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#"> {{ post.author }} </a>
                <a class="mr-2" href="/bucketlist/{{post.c_name.id}} "> {{post.c_name}} </a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              </div>
              <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
      {% endfor %}
</div>


{% endif %}
{% endblock %}
