{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
{% if messages %}
<div class="alert alert-light" role="alert">
  <ul class="messages">
    {% for msg in messages %}
        <li> {{ msg }} </li>
    {% endfor %}
  </ul>
</div>
{% endif %}


    <form method="POST" class="contact-form">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Welcome {{user}} </legend>
          {{ form|crispy }}
      </fieldset>

      <div class="form-group">
        <button class="btn btn-outline-info" type="submit"> Update </button>
      </div>
    </form>

</div>
{% endblock content %}
