{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
{% if messages %}
<div class="alert alert-light" role="alert">
  <ul class="messages">
    {% for msg in messages %}
        <li> {{ msg }} </li>
    {% endfor %}
  </ul>
</div>
{% endif %}


    <form method="POST" class="contact-form">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Join us </legend>
          {{ form|crispy }}
      </fieldset>

      <div class="form-group">
        <button class="btn btn-outlint-info">Sign Up</button>
      </div>
    </form>

    <div class="border-top pt-3">
      <small class="test-muted">
        Already Have an account? <a href="{% url 'login' %}"> Click here </a>
      </small>
  </div>
</div>
{% endblock content %}
