.header{
  color: #b0b0b0;
  font-family: Courier;
  text-align: left;
  font-size: 48px;
  margin: 0px;
  paddiing: 60px;
  background-color: black;
}

.topnav{
  color: #DFDFDF;
  text-align: right;
  font-size: 22px;
}

.topnav a{
  font-family: courier;
  text-decoration: none;
  padding: 5px;
}

.topnav a:link {
  color: #b0b0b0;
}

.topnav a:visited{
  color: #b0b0b0;
}

.topnav a:hover{
  color: white;
}

.header h1{
  margin: 0px;
}

.flex-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  display: block;
  border-radius: 5px 5px 5px 5px;
}

.overlay{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease;
  border-radius: 5px, 5px, 5px, 5px;
}

.container{
  width: 402px;
  height: 268px;
  margin: 16px;
  position: relative;
}

.container:hover .overlay{
  opacity: 0.8;
  background-color: black;
}

.text{
  color: white;
  position: relative;
  font-family: courier;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

body{
/*  background-image: url("foggy-forest-01.jpg");*/
  background-size: cover;
  margin: 0px;
}
