{% extends "layout.html" %}

{% block content %}

    <div class="flex-container">

    {% if name_list %}
    {% for name in name_list %}

      <div class="container">
          <div>
            <img src="/{{name.pic_url}}" alt="flag" class="img-responsive">
            <a href="{{name.pk}}">
            <div class="overlay">
              <div class="text"> {{name.continent_name}} </div>
            </div>
          </div>
      </div>
    {% endfor %}
    {% endif %}

    </div>
{% endblock content %}
